body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,sans-serif;
    background-size:cover;
    background-image: url("table.png");
    text-align: center;
    color: white;
    font-style: bold;
}

h1 {
    color:goldenrod;
}

#message-el {
    font-style:italic;
}
button {
    color:#016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    display: flex;
    margin:auto;
    justify-content: center;
    margin-top:4px;
}
